<!DOCTYPE html>
{% load static %}
<html>
<head>
 
    
     <link rel='stylesheet'type="text/css" href="{% static 'css/style.css' %}">
    
</head>
<body>

{{msg}}
    <h3>{{customer}}</h3>
    <h4>Product page</h4>

 <table class="table table-success table-striped">
<th>Name</th>
<th>Password</th>
<th>Address</th>
<th>Email</th>
{% for value in data %}  <tr>
        <td> {{value.name}}</td>
        <td>{{value.password}}</td>
    
        <td>{{value.address}}</td>
    
        <td>{{value.email}}</td>
    
    </tr>
    {% endfor%}
    <h1 class="h1">heading using CSS static file</h1>
 </table>
  




</body>
</html>